<div class="wrapper">
  <div class="col-md-12 space">
    <h1 class="first_title">
      Antecedentes
    </h1>
  </div>

  <div class="col-md-12">
    <h1 class="first_title"> Antecedentes Ginero-Obstetrico </h1>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-3 col-md-push-1">
      <div class="col-md-12">
        <p class="label-tag"> Menarquia: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.menarquia %> </p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-2">
      <div class="col-md-12">
        <p class="label-tag"> Reglas: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.reglas %> </p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-3">
      <div class="col-md-12">
        <p class="label-tag"> Gesta: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.gesta %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-3 col-md-push-1">
      <div class="col-md-12">
        <p class="label-tag"> Vivos: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.vivos %> </p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-2">
      <div class="col-md-12">
        <p class="label-tag"> Muertos: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.muertos %> </p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-3">
      <div class="col-md-12">
        <p class="label-tag"> Paridad: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.paridad %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-3 col-md-push-1">
      <div class="col-md-12">
        <p class="label-tag"> Abortos: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.abortos %> </p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-2">
      <div class="col-md-12">
        <p class="label-tag"> Mola: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.mola %> </p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-3">
      <div class="col-md-12">
        <p class="label-tag"> Foceps: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.foceps %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-3 col-md-push-1">
      <div class="col-md-12">
        <p class="label-tag"> Cesareas: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.cesareas %> </p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-2">
      <div class="col-md-12">
        <p class="label-tag"> Gemelares: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.gemelares %> </p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-3">
      <div class="col-md-12">
        <p class="label-tag"> Podalicos: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.podalicos %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-3 col-md-push-1">
      <div class="col-md-12">
        <p class="label-tag"> Prematuros: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.prematuros %> </p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-2">
      <div class="col-md-12">
        <p class="label-tag"> P.M.F: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.pmf %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-9 col-md-push-2 col-md-pull-1 space">
      <div class="col-md-12">
        <p class="label-tag"> Otros: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.otros %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h1 class="first_title"> Inmuno - Hematologia </h1>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-3 col-md-push-3">
      <div class="col-md-12">
        <p class="label-tag"> Grupo Sangre Embarazada: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.grupo_sangre_embarazada %> </p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-4">
      <div class="col-md-12">
        <p class="label-tag"> RH Embarazada: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.rh_embarazada %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-3 col-md-push-3">
      <div class="col-md-12">
        <p class="label-tag"> Grupo Sangre Esposo: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.grupo_sangre_esposo %> </p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-4">
      <div class="col-md-12">
        <p class="label-tag"> RH Esposo: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.rh_esposo %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12 space space">
    <div class="col-md-9 col-md-push-2 col-md-pull-1 space">
      <div class="col-md-12">
        <p class="label-tag"> Toxoplasmosis: </p>
      </div>
      <div class="col-md-12">
        <p class="client-data"> <%= @background.toxoplasmosis %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-9 col-md-push-2 col-md-pull-1 space">
      <div class="col-md-12">
        <p class="label-tag"> Sensibilizacion: </p>
        <p class="client-data"> <%= @background.sensibilizacion == true ? 'Si' : 'No' %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-md-push-2 center-div space">
    <%= link_to 'Editar', edit_patient_background_path(:patient_id => current_patient, :background_id => @background), {class: 'btn btn-primary btn-block'} %>
  </div>

  <div class="col-md-4 col-md-push-3 center-div space">
    <%= link_to 'Volver', patient_path(:patient_id => current_patient), {class: 'btn btn-primary btn-block'} %>
  </div>
</div>