<%= simple_form_for([@patient,@laboratory]) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-12 space">
    <h1 class="first_title">
      Examen de Laboratorio
    </h1>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-3 col-md-push-1">
      <label>Fecha</label>
      <input class="custom-datepicker form-control center_input_text" type="text" placeholder="DD/MM/YYYY" readonly='true' name="laboratory[fecha]" id="laboratory_fecha" value=<%= if @laboratory.fecha.present?; @laboratory.fecha.strftime("%d-%m-%Y"); end %>>
    </div>
    <div class="col-md-3 col-md-push-2">
      <%= f.input :hb %>
    </div>
    <div class="col-md-3 col-md-push-3">
      <%= f.input :htc %>
    </div>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-3 col-md-push-1">
      <%= f.input :vdrl %>
    </div>
    <div class="col-md-3 col-md-push-2">
      <%= f.input :glicemia %>
    </div>
    <div class="col-md-3 col-md-push-3">
      <%= f.input :orina %>
    </div>
  </div>

  <div class="col-md-12 space">
    <div class="col-md-3 col-md-push-1">
      <%= f.input :heces %>
    </div>
  </div>

  <div class="col-md-12 space"></div>

  <div class="col-md-4 col-md-push-2 center-div">
    <%= f.button :submit, ( f.object.new_record? ? "Crear" : "Actualizar"), {class: 'btn btn-primary btn-block'} %>
  </div>
<% end %>