<div class="wrapper">
  <div class="col-md-12">
    <h1 class="first_title"><b>Listado de Imagenes</b></h1>
  </div>
<div class="col-md-11 col-md-push-1">
  <div class="col-md-12 client-square-div">
    <% @images.each do |image| %>
      <div class="col-md-4">
        <ul class="client-ul client-square-inner-ul">
          <a href=<%= patient_pregnancy_image_path(patient_id: current_pregnancy.patient_id, pregnancy_id: current_pregnancy, image_id: image) %> class="client-link">
            <li class="client-square">
              <div class= "col-md-12 avatar-ratio-index space first_title">
                <% unless image.imagen.blank? %>
                  <%= image_tag image.imagen_url(:image_thumb).to_s, {class: "avatar-ratio-index"} %>
                <% else %>
                  <%= image_tag("defaultavatar.jpg", {class: "avatar-ratio-index"}) %>
                <% end %>
              </div>
              <p class="client-text"><%= if image.fecha.present?; image.fecha.strftime("%d-%m-%Y"); else; "Sin Fecha"; end %></p>
            </li>
          </a>
        </ul>
      </div>
    <% end %>
  </div>

  <br>

  <div class="col-md-12 center-div">
    <%= will_paginate @images, :next_label => 'Siguiente', :previous_label => 'Anterior', renderer: BootstrapPagination::Rails %>
  </div>

  <div class="col-md-4 col-md-push-2 center-div space">
    <%= link_to 'Agregar Imagen', new_patient_pregnancy_image_path, {class: 'btn btn-primary btn-block'} %>
  </div>

  <div class="col-md-4 col-md-push-2 center-div space">
    <%= link_to 'Volver', patient_pregnancies_path, {class: 'btn btn-primary btn-block'} %>
  </div>
</div>
</div>